Repository sheetofseaweed/H-Sector, pull requests merged in 2025-05, with the labels that each got.

#43 Спрайты стен, окон, айрлоков
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/bathroom.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/cap.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/ce.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/cmo.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/external/external.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/hop.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/hos.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/psych.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/qm.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/rd.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/atmos.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/botany.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/command.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/corporate.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/engineering.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/freezer.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/maintenance.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/medical.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/mining.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/public.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/research.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/science.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/security.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/security2.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/service.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/virology.dmi
  modular_skyrat/modules/aesthetics/walls/icons/reinforced_wall.dmi
  modular_skyrat/modules/aesthetics/walls/icons/wall.dmi
  modular_skyrat/modules/aesthetics/windows/icons/r_window.dmi
  modular_skyrat/modules/aesthetics/windows/icons/r_window_plasma.dmi
  modular_skyrat/modules/aesthetics/windows/icons/window.dmi
  modular_skyrat/modules/aesthetics/windows/icons/window_plasma.dmi
Labels: Sprites

#45 Одежда Касы
  icons/turf/walls/shuttle_wall.dmi
  modular_hsector/icons/mob/clothing/hollysuit.dmi
  modular_hsector/modules/clothing/loadout/boobsuit.dm
Labels: Sprites, Code

#46 Деревянные двери и кастомные айрлоки
  icons/obj/doors/airlocks/material/material.dmi
  icons/obj/doors/mineral_doors.dmi
Labels: Sprites

#48 Апдейт
  _maps/map_files/Shrine/shrine.dmm
  icons/obj/watercloset.dmi
Labels: Sprites, Map Edit
